/* global stylesheet */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

/* Nav Section With Hero */

.main-header {
  background: #131c27;
  color: white;
}

nav {
  /* NOTE: generally we dont want to specify height, but rather let the content take up the space with padding, margins, flexbox, etc.  */
  min-height: 10vh;
  display: flex;
  width: 90%;
  /* will put 5% margins on left and right because width is set to 90 */
  margin: auto;
  padding: 2rem;
  align-items: center;
}

nav ul {
  display: flex;
  /* matching flex attribute with logo to create more even distribution */
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  /* gets rid of the bullet points on nav ul */
  list-style: none;
}

#logo {
  /* a little extra space for the logo to push nav menu items together */
  flex: 2 1 40rem;
}
